*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    color:#333;
    padding: 1rem;
}

header{
    text-align: center;
    justify-content: center;
    border: 1px;
    padding: 0 2rem;
    background-color: #e6e6e6;
    filter: drop-shadow(0 0 0.25rem rgb(123, 123, 123));
}

h1{
    color: rgba(255, 140, 0, 0.896);
    font-weight: 600;
    font-size: 6rem;
    padding-top: 2rem;
}

header p{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.important{
    justify-content: center;
}

.important p{
    position: absolute;
    left: 40%;
    top: 28%;
    font-size: 1.7rem;
    font-size: 600;
}

.btn{
    position: absolute;
    top: 22%;
    background-color: rgba(255, 140, 0, 0.896); 
    border: none;
    outline: none;
    font-size: 2rem;
    color: inherit;
    padding: 1rem 3rem;
    justify-content: space-between;
}

.btn-population{
    left: 38%;
}

.btn-language{
    left: 52%;
}
.countries{
    position: absolute;
    top: 30%;
    left: 37%;
    justify-content: center;
    font-size: 2rem;
}

#chart{
    position: absolute;
    top: 34%;
    border: 1px;
    padding:2rem;
    background-color: #e6e6e6;
    filter: drop-shadow(0 0 0.25rem rgb(123, 123, 123));
    width: 98%;
    height: 50rem;
}


.bar {
    width: 0;
    height: 35px;
    margin-top: 6px;
    background-color: rgba(255, 140, 0, 0.896);
    color: black;
    transition: width 1s;
    margin-left: 30rem;
  }
  
.bar-label {
    position: absolute;
    left: 100rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.bar-name{
    position: absolute;
    left: 10rem;
    font-size: 1.5rem;
    font-weight: 500;
}
