*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    color:#333;
    padding: 1rem;
}

header{
    text-align: center;
    justify-content: center;
    border: 1px;
    padding: 0 2rem;
    background-color: #e6e6e6;
    filter: drop-shadow(0 0 0.25rem rgb(123, 123, 123));
}

h1{
    color: rgb(255,140,0);
    font-weight: 600;
    font-size: 6rem;
    padding-top: 2rem;
}

header p{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.important{
    justify-content: center;
}

.btn{
    position: absolute;
    top: 22%;
    background-color: rgb(255,140,0); 
    border: none;
    outline: none;
    font-size: 2rem;
    color: inherit;
    padding: 1rem 3rem;
    justify-content: space-between;
}

.btn-population{
    left: 36%;
}

.btn-language{
    left: 50%;
}
.countries{
    position: absolute;
    top: 30%;
    left: 37%;
    justify-content: center;
    font-size: 2rem;
}

.bar {
    width: 0;
    height: 20px;
    margin-bottom: 2px;
    background-color: #6495ED;
    color: black;
    position: relative;
    transition: width 1s;
  }
  
.bar-label {
    position: absolute;
    right: -100px;
    width: 100px;
    text-align: left;
}
  
.container {
    width: 100%;
    padding-left: 150px;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    left: 150px;
    top: 0;
    bottom: 0;
    border-left: 1px solid black;
  
}
